<button
  class="bookings-button taken"
  *ngIf="dog.bookingState === 'unavailable'"
  disabled
>
  Already reserved
</button>

<button
  class="bookings-button taken"
  *ngIf="dog.bookingState === 'other-booking'"
  disabled
>
  Don't get greedy
</button>

<button
  [ngClass]="{ loading: loading }"
  class="bookings-button return"
  (click)="returnDog()"
  *ngIf="dog.bookingState === 'return'"
  [disabled]="loading"
>
  Return dog to owner
</button>

<button
  [ngClass]="{ loading: loading }"
  class="bookings-button"
  *ngIf="dog.bookingState === 'available'"
  (click)="bookDog()"
  [disabled]="loading"
>
  Book this dogo
</button>

<a
  *ngIf="dog.bookingState === 'sign-in'"
  [ngClass]="{ loading: loading }"
  class="bookings-button return"
  [routerLink]="['/', 'login']"
>
  Sign in to book
</a>
