<button
  class="bookings-button taken"
  *ngIf="buttonStatus === 'booked'"
  disabled
>
  Already reserved
</button>

<button
  class="bookings-button taken"
  *ngIf="buttonStatus === 'user-already-booked'"
  disabled
>
  Don't get greedy
</button>

<button
  [ngClass]="{ loading: loading }"
  class="bookings-button return"
  (click)="returnDog()"
  *ngIf="buttonStatus === 'user-booked'"
  [disabled]="loading"
>
  Return dog to owner
</button>

<button
  [ngClass]="{ loading: loading }"
  class="bookings-button"
  *ngIf="buttonStatus === 'open'"
  (click)="bookDog()"
  [disabled]="loading"
>
  Book this dogo
</button>
