@import "./media-queries";

:root {
  /* COLOR SCHEME */
  --background-color: #fdfaf8;
  --background-color--accent: #ffeadd;

  --black: #292626;

  --text-white: #fff;
  --text-color: #454545;
  --text-title-color: #292626;

  --button-color--action: #3d8cff;
  --button-color: #3b3b58;

  --text-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
  --text-shadow--strong: 0 5px 16px rgba(0, 0, 0, 0.3);

  /* FONT SIZING */
  font-size: 16px;
  --text-unset: 1rem;
  --text-xs: 0.68rem;
  --text-s: 0.8rem;
  --text-m: 1.8rem;
  --text-xl: 2.8rem;
  --text-2xl: 4.8rem;

  /* SPACING */
  --spacing-container: 2rem;
  --spacing-section: 10rem;

  --spacing-xs: 0.9rem;
  --spacing-s: 1.2rem;
  --spacing-m: 1.7rem;

  --button-letter-spacing: 0.05rem;

  /* MISC */
  --border-radius: 0.4rem;

  @include screen-large {
    --spacing-container: 9rem;
  }

  @include screen-xl {
    --spacing-container: 28rem;
  }
}
