@import "./media-queries";

:root {
  /* COLOR SCHEME */
  --background-color: #fdfaf8;
  --background-color--accent: #ffeadd;

  --text-white: #fff;
  --text-color: #454545;
  --text-title-color: #292626;

  /* FONT SIZING */
  font-size: 16px;
  --text-unset: 1rem;
  --text-xs: 0.68rem;
  --text-s: 0.8rem;
  --text-m: 1.8rem;
  --text-xl: 2.8rem;
  --text-2xl: 4.8rem;

  /* SPACING */
  --spacing-container: 2rem;
  --spacing-section: 10rem;

  --spacing-xs: 0.9rem;
  --spacing-s: 1.2rem;
  --spacing-m: 1.7rem;

  /* MISC */
  --border-radius: 0.4rem;

  @include screen-large {
    --spacing-container: 9rem;
  }
}
