<app-single-view-nav></app-single-view-nav>

<app-layout>
  <ng-container *ngIf="dogQueryRes | async as dogRes">
    <ng-container *ngIf="dogRes.data?.dog as dog">
      <section class="product-view__container">
        <div class="content">
          <div class="header-image__container">
            <img [src]="dog.imgURL" alt="" />
          </div>

          <div class="header-info__container">
            <h2 class="header-info__title">{{ dog.name }}</h2>
            <p class="description">{{ dog.description }}</p>
            <div class="actions">
              <app-booking-button [dog]="dog"></app-booking-button>
              <div class="rate__container">
                <p class="rate__title">Amount of pats received from users</p>
                <div class="flex-row-align-center">
                  <span class="title-m">{{ dog.rating }} </span>
                  <button class="patinator-2000" (click)="patDog(dog.rating)">
                    Pat!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </ng-container>
</app-layout>
