<app-single-view-nav></app-single-view-nav>

<app-layout>
  <ng-container *ngIf="dogQueryRes | async as dogRes">
    <ng-container *ngIf="dogRes.data?.dog as dog">
      <section class="product-view__container">
        <div class="content">
          <div class="header-image__container">
            <img [src]="dog.imgURL" alt="" />
          </div>

          <div class="header-info__container">
            <h2 class="header-info__title">{{ dog.name }}</h2>
            <p class="description">{{ dog.description }}</p>
            <div class="actions">
              <app-booking-button [dog]="dog"></app-booking-button>
              <app-rate-button
                [dogId]="dog.id"
                [currentRating]="dog.rating"
              ></app-rate-button>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </ng-container>
</app-layout>
