@import "media-queries";

.highlight__title {
  font-size: var(--text-m);
}

.highlight__carousel {
  margin-top: var(--spacing-m);
  overflow: scroll hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}

.highlight__carousel-item {
  height: 15rem;
  width: 320px;
  overflow: hidden;
  display: inline-block;
  border-radius: var(--border-radius);
  scroll-snap-align: end;
  position: relative;
  transition: opacity 0.2s;

  &:not(:last-child) {
    margin-right: var(--spacing-s);
  }

  &:hover {
    opacity: 0.9;
  }

  .item__rating {
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
    z-index: 500;
    text-shadow: var(--text-shadow);
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    color: var(--text-white);
    z-index: 15;

    span {
      color: var(--text-white);
      margin-right: 0.25rem;
    }
    mat-icon {
      color: var(--highlight-color);
    }
    //color: var(--text-white);
  }

  .item__name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.42) 100%
    );
    padding: var(--spacing-s);
    font-weight: 600;
    color: var(--text-white);
    z-index: 10;
    text-shadow: var(--text-shadow);
    font-size: var(--text-m);
  }
}

.mock {
  background: var(--background-color--accent);
}

@include screen-large {
  .highlight__carousel-item {
    scroll-snap-align: start;
  }

  .highlight__title {
    font-size: var(--text-xl);
  }
}

@include screen-medium {
  .highlight__carousel {
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background: var(--background-color--accent);
}

::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
