<section class="section">
  <h2 class="title-m">Get to know us better.</h2>
  <div #carousel class="breed-carousel__container">
    <ng-container *ngIf="breedsQueryRes | async as breedsRes">
      <div
        class="breed-carousel__container-item"
        *ngFor="let breed of breedsRes.data?.breeds"
      >
        <!-- <img [src]="breed.imgURL" class="container-item__image" alt="" /> -->
        <app-image
          [xOffset]="xOffset"
          [src]="breed.imgURL"
          class="container-item__image"
        ></app-image>
        <a
          [routerLink]="['/', 'about', breed.id]"
          class="container-item__content"
        >
          <h2 class="container-item__title">
            {{ breed.name }}
          </h2>
          <p class="container-item__description">
            {{ breed.description | textLength: 220 }}
          </p>
          <p>Read more</p>
        </a>
      </div>

      <ng-container *ngIf="breedsRes.loading">
        <div
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="breed-carousel__container-item loading__container"
        ></div>
      </ng-container>
    </ng-container>
  </div>
</section>
