@import "media-queries";

.about__title {
  font-size: var(--text-m);
}

.breed-carousel__container {
  margin-top: var(--spacing-m);
  overflow: scroll hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  z-index: 0;
}

.breed-carousel__container-item {
  background: var(--black);
  height: 38rem;
  width: 320px;
  overflow: hidden;
  display: inline-block;
  border-radius: var(--border-radius);
  scroll-snap-align: end;
  position: relative;
  padding: var(--spacing-s);
  position: relative;
  z-index: 5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }

  &:not(:last-child) {
    margin-right: var(--spacing-s);
  }

  .container-item__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  .container-item__title {
    color: var(--text-white);
    font-size: var(--text-xl);
    white-space: normal;
    text-shadow: var(--text-shadow--strong);
  }

  .container-item__description {
    color: var(--text-white);
    white-space: normal;
    margin-top: var(--spacing-s);
  }

  .container-item__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.33;
    object-fit: cover;
  }
}

.read-more {
  color: var(--highlight-color);
  margin-top: var(--spacing-xs);
  font-weight: 500;
}

@include screen-large {
  .about__title {
    font-size: var(--text-xl);
  }
}

@include screen-medium {
  .breed-carousel__container {
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background: var(--background-color--accent);
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: var(--border-radius);
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
