<section class="section">
  <h2 class="about__title">Get to know us better.</h2>
  <div #carousel class="breed-carousel__container">
    <ng-container *ngIf="breedsQueryRes | async as breedsRes">
      <a
        [routerLink]="['/', 'about', breed.id]"
        class="breed-carousel__container-item"
        *ngFor="let breed of breedsRes.data?.breeds"
        @fadeIn
      >
        <!-- <img [src]="breed.imgURL" class="container-item__image" alt="" /> -->
        <app-image
          [xOffset]="xOffset"
          [src]="breed.imgURL"
          class="container-item__image"
        ></app-image>
        <div class="container-item__content">
          <h2 class="container-item__title">
            {{ breed.name }}
          </h2>
          <p class="container-item__description">
            {{ breed.description | textLength: 220 }}
          </p>
          <p class="read-more">Read more</p>
        </div>
      </a>

      <ng-container *ngIf="breedsRes.loading">
        <div
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="breed-carousel__container-item loading__container"
        ></div>
      </ng-container>
    </ng-container>
  </div>
</section>
