<app-hero></app-hero>

<app-layout>
  <app-user-booking></app-user-booking>

  <app-highlighted-products></app-highlighted-products>

  <section class="section">
    <div class="go-to-browse">
      <h2 class="go-to-browse__title">Go to browse</h2>
      <p>Checkout all of our friends!</p>
      <a [routerLink]="['/', 'browse']" class="go-to-browse__button">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
  </section>

  <app-about-products></app-about-products>
</app-layout>

<app-mobile-navigation></app-mobile-navigation>
